<header-1
  [Index]="tableIndex"
  [Name]="1" 
  [Weight]="1" 
  [Height]="1" 
  [BSA]="1" 
  [Title]="'Pediatric Emergency Drug Reference'">
</header-1>
<div *ngIf="tables">
  <drug-table [table]="this.tables[0]"></drug-table>
  <drug-table [table]="this.tables[1]"></drug-table>
  <drug-table [table]="this.tables[2]"></drug-table>
  <drug-table [table]="this.tables[3]"></drug-table>
</div>
<!--<div class="pageBreak"></div>-->
<!--<div class="Box">  <header-1 [Name]="1" [Weight]="1" [Height]="1" [BSA]="1" [Title]="'Pediatric Emergency Drug Reference'"></header-1></div>-->
<div *ngIf="tables">
  <drug-table [table]="this.tables[4]"></drug-table>
  <drug-table [table]="this.tables[5]"></drug-table>
  <drug-table [table]="this.tables[6]"></drug-table>
  <drug-table [table]="this.tables[7]"></drug-table>
</div>
<pre class="subScript">C=Crash Cart        P= Available from Pharmacy         X=Pyxis        All other med in the orange code box</pre>
